* {
    main-bg:            #16130b;
    main-fg:            #e2c46d;
    main-br:            #d4c5a1;
    main-ex:            #d4c5a1;
    select-bg:          #e2c46d;
    select-fg:          #3c2f00;
    separatorcolor:     transparent;
    border-color:       transparent;
}
