* {
    main-bg:            #1a1206;
    main-fg:            #ffba35;
    main-br:            #dcc48c;
    main-ex:            #dcc48c;
    select-bg:          #ffba35;
    select-fg:          #422c00;
    separatorcolor:     transparent;
    border-color:       transparent;
}
