* {
    background-image: none;
    font-size: 14px;
}

@import "../../.cache/wal/colors-waybar.css";

window {
  background: rgba(0, 0, 0, 0.55);
}

button {
  font-family: "JetBrainsMono Nerd Font";
  background-color: @color0;  
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  color: @color3;
  margin: 8px;
  padding: 4px;
  border-radius: 10px;
  border: 1px solid @color6;
  animation: scale_f 0.3s ease-in;
}

button:hover,
button:active,
button:focus {
  border-radius: 50px;
  animation: scale_f 0.3s ease-in;
  transition: all 0.5s cubic-bezier(.55,0.0,.28,1.682);
}

button:hover {
  background-color: @color2;
  color: @color0;
}

button:focus {
  background-color: @color6;
  color: @color0;
}

button:hover#lock,
button:active#lock,
button:focus#lock {
  background-image: url("./icons/lock_black.png");
}

button:hover#logout,
button:active#logout, 
button:focus#logout {
  background-image: url("./icons/logout_black.png");
}

button:hover#hibernate,
button:active#hibernate, 
button:focus#hibernate {
  background-image: url("./icons/hibernate_black.png");
}

button:hover#suspend,
button:active#suspend, 
button:focus#suspend {
  background-image: url("./icons/suspend_black.png");
}

button:hover#shutdown,
button:active#shutdown, 
button:focus#shutdown {
  background-image: url("./icons/shutdown_black.png");
}

button:hover#reboot,
button:active#reboot, 
button:focus#reboot {
  background-image: url("./icons/reboot_black.png");
}

#lock {
  background-image: url("./icons/lock_white.png");
}


#logout {
  background-image: url("./icons/logout_white.png");
}

#hibernate {
  background-image: url("./icons/hibernate_white.png");
}

#suspend {
  background-image: url("./icons/suspend_white.png");
}

#shutdown {
  background-image: url("./icons/shutdown_white.png");
}

#reboot {
  background-image: url("./icons/reboot_white.png");
}
